.card {
  display: flex;
  align-items: center;
  margin: 0 auto;
  width: 300px;
  height: 90px;
  color: white;
  background-color: #1f1f1f;
  border: 5px solid #080c0d;
  border-radius: 20px;
}

.checkbox {
  accent-color: #3ab1b5;
  width: 18px;
  height: 18px;
  margin-left: 15px;
  cursor: pointer;
}

.checkbox::before {
  content: ' ';
  display: block;
  width: 18px;
  height: 18px;
  border: 2px solid #3ab1b5;
  box-sizing: border-box;
  background-color: transparent;
  border-radius: 3px;
}

.edit {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  border: none;
  border-radius: 5px;
  background-color: #34c5ca;
}

.delete {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  border: none;
  border-radius: 5px;
  margin-left: 8px;
  background-color: #c55138;
}

.textTask {
  width: 180px;
  height: 30px;
  line-height: 30px;
  text-align: left;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

@keyframes endTimeEnterAnimation {
  0% {
    opacity: 0.1;
  }
  100% {
    opacity: 1;
  }
}

.endTimeEnter {
  animation: endTimeEnterAnimation 0.3s linear forwards;
}

.taskBtnState {
  height: 30px;
  margin-right: 20px;
  font-size: 8px;
  font-weight: 500;
  border: none;
  outline: none;
  border-radius: 5px;
  background-color: #33c7cc;
}

.taskBtnState:hover {
  animation: taskBtnStateHover 0.2s linear forwards;
}

@keyframes taskBtnStateHover {
  100% {
    background-color: rgb(8, 138, 161);
  }
}
