.title {
  margin-top: 20px;
  color: white;
  font-size: 30px;
}

.box {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  height: 50px;
}

@keyframes determineHover {
  0% {
    background-color: hsl(182, 60%, 50%);
  }
  100% {
    background-color: hsl(182, 45%, 45%);
  }
}

.determine {
  width: 50px;
  padding-top: 5px;
  margin-left: 15px;
  border-radius: 10px;
  border: none;
  background-color: hsl(182, 60%, 50%);
}

.determine:hover {
  animation: determineHover 0.5s linear forwards;
}

.line {
  margin: 10px auto;
  margin-top: 30px;
  width: 340px;
  height: 5px;
  background-color: #2d6c6e;
}
