.aside {
  position: fixed;
  width: 150px;
  height: 370px;
  color: white;
  background-color: #080c0d;
  border-radius: 0 20px 20px 0;
  left: 0px;
  top: 60px;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  z-index: 10;
}

@keyframes asideExitAnimation {
  0% {
    left: 0;
  }
  100% {
    left: -150px;
  }
}

@keyframes asideEnterAnimation {
  0% {
    left: -150px;
  }
  100% {
    left: 0;
  }
}

.asideEnter {
  animation: asideEnterAnimation 0.4s forwards;
}

.asideExit {
  animation: asideExitAnimation 0.4s forwards;
}

.asideControlVisible {
  position: fixed;
  width: 25px;
  height: 30px;
  background-color: #2aa69a;
  border-radius: 0 40% 40% 0;
  left: 0px;
  top: 30px;
  display: flex;
  justify-items: center;
  align-items: center;
  padding-top: 2px;
  padding-left: 4px;
  cursor: pointer;
  z-index: 11;
}
