.asideBtn {
  box-sizing: border-box;
  width: 90%;
  height: 30px;
  color: #ffffff;
  font-weight: 700;
  line-height: 30px;
  padding-left: 20px;
  margin-top: 20px;
  border-radius: 10px;
  text-align: left;
  cursor: pointer;
  background-color: #2aa69a;
  display: flex;
  justify-items: center;
  align-items: center;
}
